<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Authentic, vibrant, honest—this is how photographer Rocco describes his wedding photography.
        The Swiss photographer has photographed ‘the happiest day’ in many couple’s lives for ten years now.
        It’s particularly important to him to capture the intense emotions which make this day so unique and personal.
        <br/>
        Well structured and simply designed, the website delivers a clear overview of the personal branding photo shoots on offer.
        The gallery shows just how varied these can be—three to four images are displayed for each project, which offers great insight into the diversity and variety of the people being photographed.
        <br/>
        including numerous reviews on his website roccoparente.com, Rocco demonstrates how wonderful the final result is and how happy his customers are.
        He also presents his bronze, silver, and gold plans under Services, so that his customers can see what suits them best.
        <br/>
    </p>

</div>